@font-face {font-family: CamphorPro-Light;src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)format("woff");}

@font-face {font-family: CamphorPro-Regular; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff) format("woff");}

@font-face {font-family: CamphorPro-Bold; font-weight: 700; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff) format("woff");}

@font-face {font-family: CamphorPro-Thin;src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff) format("woff");}

@font-face {font-family: Camphor-Heavy; font-weight: 900; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff) format("woff");}

@font-face {font-family: CamphorPro-Medium; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff) format("woff");}

.f-heavy {font-family: Camphor-Heavy, sans-serif; font-weight: 900;}
.f-regular {font-family: CamphorPro-Regular, sans-serif;}
.f-light {font-family: CamphorPro-Light, sans-serif;}
.f-bold {font-family: CamphorPro-Bold, sans-serif; font-weight: 700;}
.f-medium {font-family: CamphorPro-Medium, sans-serif;}
.f-thin {font-family: CamphorPro-Thin, sans-serif;}

@keyframes rcSwitchOn {0% { transform: scale(1);} 50% {transform: scale(1.25);} to {transform: scale(1.1);}}
@keyframes rcSwitchOff {0% {transform: scale(1.1);} to {transform: scale(1);}}
@keyframes loader {0% { opacity: 0.2; transform: scaleY(0.5);} to { opacity: 1; transform: scale(1);}}

.overview-con-global {color: #000; width: 100%;}
.overview-con-global .f12 {font-size: 0.046875rem;}
.overview-con-global .f14 {font-size: 0.054688rem;}
.overview-con-global .f16 {font-size: 0.0625rem;}
.overview-con-global .f18 {font-size: 0.070313rem;}
.overview-con-global .f20 {font-size: 0.078125rem;}
.overview-con-global .f22 {font-size: 0.085938rem;}
.overview-con-global .f24 {font-size: 0.09375rem;}
.overview-con-global .f26 {font-size: 0.101563rem;}
.overview-con-global .f28 {font-size: 0.109375rem;}
.overview-con-global .f30 {font-size: 0.117188rem;}
.overview-con-global .f32 {font-size: 0.125rem;}
.overview-con-global .f34 {font-size: 0.132813rem;}
.overview-con-global .f36 {font-size: 0.140625rem;}
.overview-con-global .f38 {font-size: 0.148438rem;}
.overview-con-global .f40 {font-size: 0.15625rem;}
.overview-con-global .f42 {font-size: 0.164063rem;}
.overview-con-global .f44 {font-size: 0.171875rem;}
.overview-con-global .f46 {font-size: 0.179688rem;}
.overview-con-global .f48 {font-size: 0.1875rem;}
.overview-con-global .f50 {font-size: 0.195313rem;}
.overview-con-global .f52 {font-size: 0.203125rem;}
.overview-con-global .f54 {font-size: 0.210938rem;}
.overview-con-global .f56 {font-size: 0.21875rem;}
.overview-con-global .f58 {font-size: 0.226563rem;}
.overview-con-global .f60 {font-size: 0.234375rem;}
.overview-con-global .f62 {font-size: 0.242188rem;}
.overview-con-global .f64 {font-size: 0.25rem;}
.overview-con-global .f66 {font-size: 0.257813rem;}
.overview-con-global .f68 {font-size: 0.265625rem;}
.overview-con-global .f70 {font-size: 0.273438rem;}
.overview-con-global .f72 {font-size: 0.28125rem;}
.overview-con-global .f74 {font-size: 0.289063rem;}
.overview-con-global .f76 {font-size: 0.296875rem;}
.overview-con-global .f78 {font-size: 0.304688rem;}
.overview-con-global .f80 {font-size: 0.3125rem;}
.overview-con-global .f82 {font-size: 0.320313rem;}
.overview-con-global .f86 {font-size: 0.335938rem;}
.overview-con-global .f88 {font-size: 0.34375rem;}
.overview-con-global .f90 {font-size: 0.351563rem;}
.overview-con-global .f92 {font-size: 0.359375rem;}
.overview-con-global .f98 {font-size: 0.382813rem;}
.overview-con-global .f100 {font-size: 0.390625rem;}
.overview-con-global .f106 {font-size: 0.414063rem;}
.overview-con-global .f108 {font-size: 0.421875rem;}
.overview-con-global .f110 {font-size: 0.429688rem;}
.overview-con-global .f114 {font-size: 0.445313rem;}
.overview-con-global .f116 {font-size: 0.453125rem;}
.overview-con-global .f120 {font-size: 0.46875rem;}
.overview-con-global .f128 {font-size: 0.5rem;}
.overview-con-global .f130 {font-size: 0.507813rem;}
.overview-con-global .f138 {font-size: 0.539063rem;}
.overview-con-global .f140 {font-size: 0.546875rem;}
.overview-con-global .f142 {font-size: 0.554688rem;}
.overview-con-global .f144 {font-size: 0.5625rem;}
.overview-con-global .f146 {font-size: 0.570313rem;}
.overview-con-global .f148 {font-size: 0.578125rem;}
.overview-con-global .f150 {font-size: 0.585938rem;}
.overview-con-global .f156 {font-size: 0.609375rem;}
.overview-con-global .f160 {font-size: 0.625rem;}
.overview-con-global .f190 {font-size: 0.742188rem;}
.overview-con-global .f200 {font-size: 0.78125rem;}
.overview-con-global .f248 {font-size: 0.96875rem;}

.overview-con .section {
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  line-height: 1.2;
  min-width: 4.789063rem;
  overflow: hidden;
}
.overview-con .section_03,
.overview-con .section_03 .sec03-video {
  height: 4.539063rem;
  overflow: hidden;
  width: 10rem;
}
.overview-con .section_03 .sec03-video .video_self {
  width: auto;
}
.overview-con .section_04 {
  align-items: center;
  color: #fcfafa;
  display: flex;
  flex-direction: column;
  height: 11.492188rem;
  padding-top: 0.695313rem;
  text-align: center;
  width: 10rem;
}
.overview-con .section_04 .title {
  line-height: 1;
  padding-bottom: 0.210938rem;
}
.overview-con .section_04 .sub-title {
  line-height: 1.2;
  padding-top: 0.355469rem;
}
.overview-con .section_04 .info {
  line-height: 1.2;
  padding-bottom: 0.3125rem;
  padding-top: 0.117188rem;
}
.overview-con .section_04 .scroll-slider {
  height: 3.160156rem;
  width: 5.527344rem; /*! purgecss start ignore */
  /*! purgecss end ignore */
}
.overview-con .section_04 .scroll-slider .slick-list {
  overflow: hidden;
}
.overview-con .section_04 .scroll-slider .slick-dots {
  bottom: -0.1875rem;
}
.overview-con .section_04 .scroll-slider .slick-dots li > button {
  background-color: initial;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.hairlines .overview-con .section_04 .scroll-slider .slick-dots li > button {
  border: 0.5px solid #fff;
}
.overview-con .section_04 .scroll-slider .slick-dots .slick-active > button {
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.hairlines
  .overview-con
  .section_04
  .scroll-slider
  .slick-dots
  .slick-active
  > button {
  border: 0.5px solid #fff;
}
.overview-con .section_09 {
  height: 3.90625rem;
  width: 10rem;
  /*! purgecss start ignore */
  /*! purgecss end ignore */
}
.overview-con .section_09 .slick-dots li > button {
  background-color: initial;
  border: 1px solid #000 !important;
  box-sizing: border-box;
}
.hairlines .overview-con .section_09 .slick-dots li > button {
  border: 0.5px solid #000 !important;
}
.overview-con .section_09 .slick-dots .slick-active > button {
  background-color: #000 !important;
  border: 1px solid #000;
  box-sizing: border-box;
}
.hairlines .overview-con .section_09 .slick-dots .slick-active > button {
  border: 0.5px solid #000;
}
.overview-con .section_12 .text-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0.234375rem 0;
  text-align: left;
  width: 5.703125rem;
}
.overview-con .section_12 .title {
  margin-bottom: 0.140625rem;
}
.overview-con .section_12 .feature {
  color: #878787;
  line-height: 1.3;
}
.edit-section {
  color: #424242;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 0 30px;
}
.video_outer {
  position: relative;
}
.video_self {
  height: 100%;
  width: 100%;
}
.xmvideo-playicon {
  height: 120px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 120px;
  z-index: 1;
}
.xmvideo-playicon.active {
  opacity: 1;
}

.video_container {
  width: 356px;
}
.video_container--box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.video_container--title {
  color: #424242;
  font-size: 16px;
  font-weight: 500;
  height: 22px;
  line-height: 22px;
}
.video_container-cover--display {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  height: 183px;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 350px;
  word-break: break-all;
}
.video_container-cover--btn {
  margin-right: 10px;
}
.video_container-cover--btn.disable {
  background: #cdcdcd;
  color: #fff;
  cursor: no-drop;
}
.video_container-cover--btn:last-child {
  margin-right: 0;
}
.video_container-cover--buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.video_container--desc {
  color: #757575;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  justify-content: space-between;
  line-height: 22px;
  margin: 10px 0 12px;
}
.video_container--display {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  height: 183px;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 350px;
  word-break: break-all;
}
.video_container--btn {
  margin-right: 10px;
}
.video_container--btn.disable {
  background: #cdcdcd;
  color: #fff;
  cursor: no-drop;
}
.video_container--btn:last-child {
  margin-right: 0;
}
.video_container--buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.video_container .eye {
  background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
  background-position: -74px -22px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin-left: 160px;
  width: 24px;
}
.video_container .eye.open {
  background-position: -75px -47px;
}
.video_container .btn-container {
  display: flex;
  flex-direction: row-reverse;
}
.video_container-link--title {
  font-weight: 500;
}
.video_container-link--tip,
.video_container-link--title {
  color: #424242;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
}
.video_container-link--tip {
  margin-top: 10px;
}
.video_container-link--tip01 {
  color: #1890ff;
  cursor: pointer;
  margin-left: 20px;
}
.video_container-play--line01 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.video_container-play--line01.shownone {
  display: none;
}
.video_container-play--line02 {
  justify-content: flex-start;
  margin: 20px 0;
}
.video_container-play--line02-btn {
  margin-right: 10px;
}
.video_container-play--line02-btn.disable {
  background: #cdcdcd;
  color: #fff;
}
.video_container-play--line02.shownone {
  display: none;
}
.video_container-play--label {
  margin-right: 30px;
}
.video_container .video_container-loadbtn {
  display: flex;
  justify-content: flex-end;
}
.video_container .video_container-cover--upload,
.video_container .video_container-mp4--upload {
  background: #1890ff;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
}
.video_container .video_container-mp4--upload {
  margin-top: 15px;
}
.video_container .youtube-play-properties {
  display: none;
}
.video_container .youtube-play-properties.active {
  display: block;
}
.video_container .youtube-play-properties--note {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 5px 0;
}
.video_container_step-box {
  width: 500px;
}
.video_container_step-box-text {
  color: #757575;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}

.text-area {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 184px;
  padding: 10px 20px;
  width: 350px;
}

.xm-scroll .slick-slider .slick-list,
.xm-scroll .slick-slider .slick-slider,
.xm-scroll .slick-slider .slick-track {
  display: block;
}
.xm-scroll .slick-slider .slick-slider {
  position: relative;
}
.xm-scroll .slick-slider .slick-list {
  overflow: hidden;
}
.xm-scroll .slick-slider .slick-slide {
  display: block;
  float: left;
  height: 100%;
  touch-action: pan-y;
}
.xm-scroll .slick-slider .slick-dots {
  bottom: 16px;
  display: flex !important;
  flex-basis: auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.xm-scroll .slick-slider .slick-dots li {
  margin: 0 5px;
  overflow: hidden;
}
.xm-scroll .slick-slider .slick-dots li > button {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
}
.xm-scroll .slick-slider .slick-dots li.slick-active > button {
  background-color: #b0b0b0;
}
.xm-scroll .slick-slider,
.xm-scroll .slick-slider .slick-list,
.xm-scroll .slick-slider .slick-slide div,
.xm-scroll .slick-slider .slick-slide div img {
  height: 100%;
}
.xm-scroll .slick-slider .slick-dots li > button {
  border-radius: 50%;
  height: 10px;
  padding: 0;
  text-indent: -9999px;
  width: 10px;
}
.xm-scroll .slick-slider .slick-arrow {
  border: 0;
  height: 69px;
  position: absolute;
  text-indent: -9999px;
  width: 41px;
  z-index: 10;
}
.xm-scroll .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2014/icon/icon-slides.png)
    no-repeat;
  background-position: 0;
  cursor: pointer;
  left: 5%;
  margin-top: -35px;
  top: 50%;
}
.xm-scroll .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2014/icon/icon-slides.png)
    no-repeat;
  background-position: -42px;
  cursor: pointer;
  margin-top: -35px;
  right: 5%;
  top: 50%;
}
.xm-scroll .slick-slider .slick-slide > div img {
  vertical-align: top;
}

.overview-con-global .section {
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  line-height: 1.2;
  min-width: 4.789063rem;
  overflow: hidden;
}
.overview-con-global .f72 {
  line-height: 0.3125rem;
}
.overview-con-global .f26 {
  line-height: 0.140625rem;
}
.overview-con-global .section01 {
  height: 4.21875rem;
}
.overview-con-global .section01 .section01_content {
  display: flex;
  flex-direction: column;
  margin-left: 6.296875rem;
  margin-top: 1.601563rem;
  text-align: left;
}
.overview-con-global .section01 .logo {
  height: 0.273438rem;
  width: 1.703125rem;
}
.overview-con-global .section01 .ksp_1 {
  line-height: 0.234375rem;
  margin-bottom: 0.078125rem;
  margin-top: 0.175781rem;
}
.overview-con-global .section01 .ksp_2 {
  line-height: 0.234375rem;
}
.overview-con-global .section01 .price-common {
  margin-top: 0.234375rem;
}
.overview-con-global .section02 {
  background-color: #eee;
  color: #fff;
  height: 5.15625rem;
  padding-top: 0.78125rem;
  position: relative;
}
.overview-con-global .section02 .section02_01 {
  display: flex;
  flex-direction: column;
  height: 2.109375rem;
  left: 1.992188rem;
  padding-left: 0.449219rem;
  padding-top: 0.683594rem;
  position: absolute;
  width: 0.984375rem;
}
.overview-con-global .section02 .f56 {
  line-height: 0.257813rem;
}
.overview-con-global .section02 .ksp_12 {
  margin-bottom: 0.078125rem;
  width: 0.984375rem;
}
.overview-con-global .section02 .ksp_13 {
  width: 0.984375rem;
}
.overview-con-global .section02 .f26 {
  line-height: 0.140625rem;
}
.overview-con-global .section02 .section02_02 {
  color: #000;
  height: 1.402344rem;
  left: 1.992188rem;
  padding-left: 0.292969rem;
  padding-top: 0.273438rem;
  position: absolute;
  top: 2.96875rem;
  width: 1.648438rem;
}
.overview-con-global .section02 .section02_03 {
  color: #000;
  height: 1.402344rem;
  left: 3.710938rem;
  padding-left: 0.410156rem;
  padding-top: 0.273438rem;
  position: absolute;
  top: 2.96875rem;
  width: 2.03125rem;
}
.overview-con-global .section02 .section02_04 {
  color: #1b1b1c;
  display: flex;
  flex-direction: column;
  height: 1.507813rem;
  left: 5.75rem;
  padding-left: 0.273438rem;
  padding-top: 0.273438rem;
  position: absolute;
  width: 10.046875rem;
}
.overview-con-global .section02 .ksp_10 {
  margin-bottom: 0.039063rem;
}
.overview-con-global .section02 .section02_05 {
  color: #000;
  display: flex;
  height: 1.980469rem;
  left: 5.75rem;
  position: absolute;
  top: 2.394531rem;
  width: 2.234375rem;
}
.overview-con-global .section02 .section02_05 > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0.273438rem;
}
.overview-con-global .section02 .section02_05 > div:first-child {
  padding-left: 0.273438rem;
}
.overview-con-global .section02 .section02_05 > div:nth-child(2) {
  font-size: 0.140625rem;
  font-weight: 700;
  margin: 0 0.117188rem 0.117188rem;
}
.overview-con-global .section03 {
  height: 4.6875rem;
}
.overview-con-global .section03 .section03_section {
  display: flex;
  flex-direction: column;
  padding-left: 1.976563rem;
  padding-top: 0.949219rem;
}
.overview-con-global .section03 .f72 {
  line-height: 0.3125rem;
}
.overview-con-global .section03 .f26 {
  line-height: 0.132813rem;
  margin-top: 0.058594rem;
}
.overview-con-global .section04 {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.492188rem;
  padding-top: 0.683594rem;
}
.overview-con-global .section04 .overview_3 {
  line-height: 0.3125rem;
  margin-bottom: 0.078125rem;
  text-align: center;
}
.overview-con-global .section04 .overview_4 {
  line-height: 0.132813rem;
  margin-bottom: 0.644531rem;
  text-align: center;
}
.overview-con-global .section04 .section04_icons {
  display: flex;
  justify-content: center;
}
.overview-con-global .section04 .section04_icons > div {
  display: flex;
  flex-direction: column;
  margin-right: 0.496094rem;
}
.overview-con-global .section04 .section04_icons > div:last-child {
  margin-right: 0;
}
.overview-con-global .section04 .icon01 {
  height: 0.324219rem;
  width: 0.257813rem;
}
.overview-con-global .section04 .icon02 {
  height: 0.328125rem;
  width: 0.28125rem;
}
.overview-con-global .section04 .icon03 {
  height: 0.328125rem;
  width: 0.34375rem;
}
.overview-con-global .section04 .icon04 {
  height: 0.328125rem;
  width: 0.285156rem;
}
.overview-con-global .section04 .section04_icons > div span:nth-child(2) {
  margin-bottom: 0.078125rem;
  margin-top: 0.195313rem;
}
.overview-con-global .section04 .section04_img {
  margin-bottom: 0.5625rem;
  margin-top: 0.53125rem;
  width: 6.191406rem;
}
.overview-con-global .section05 {
  height: 8.105469rem;
}
.overview-con-global .section05 > div {
  display: flex;
  flex-direction: column;
}
.overview-con-global .section05 .f72 {
  line-height: 0.3125rem;
}
.overview-con-global .section05 .f26 {
  line-height: 0.140625rem;
}
.overview-con-global .section05 .section05_top {
  color: #fff;
  margin-left: 1.976563rem;
  margin-top: 0.949219rem;
  width: 3.554688rem;
}
.overview-con-global .section05 .section05_top .f72 {
  margin-bottom: 0.070313rem;
}
.overview-con-global .section05 .section05_bottom {
  color: #000;
  margin-left: 5.296875rem;
  margin-top: 3.789063rem;
  width: 2.734375rem;
}
.overview-con-global .section05 .section05_bottom .f72 {
  margin-bottom: 0.109375rem;
}
.overview-con-global .section06 {
  display: flex;
  flex-direction: column;
  height: 4.675781rem;
}
.overview-con-global .section06 .section06_text {
  margin-left: 1.96875rem;
  margin-top: 0.804688rem;
  width: 2.734375rem;
}
.overview-con-global .section06 .section06_text > span:last-child {
  width: 2.34375rem;
}
.overview-con-global .section06 .section06_icon {
  margin-left: 1.96875rem;
  margin-top: 0.46875rem;
}
.overview-con-global .section06 .section06_icon > div {
  display: flex;
  margin-bottom: 0.484375rem;
}
.overview-con-global .section06 .section06_icon > div > div {
  display: flex;
  flex-direction: column;
}
.overview-con-global .section06 .icon1 {
  height: 0.414063rem;
  margin-right: 0.125rem;
  width: 0.414063rem;
}
.overview-con-global .section07 {
  align-items: center;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  padding-top: 0.976563rem;
  text-align: center;
}
.overview-con-global .section07 .overview_24 {
  margin-bottom: 0.148438rem;
}
.overview-con-global .section07 .overview_25 {
  margin-bottom: 0.601563rem;
}
.overview-con-global .section07 .section07_img1 {
  height: 3.378906rem;
  width: 7.140625rem;
}
.overview-con-global .section07 .section07_text1 {
  display: flex;
  margin-top: 0.957031rem;
}
.overview-con-global .section07 .section07_img2 {
  height: 4.871094rem;
  width: 4.035156rem;
}
.overview-con-global .section07 .overview_26 {
  margin-left: 0.820313rem;
  margin-top: 1.5rem;
}
.overview-con-global .section07 .section07_text2 {
  display: flex;
  left: 0.507813rem;
  position: relative;
  top: -1.289063rem;
}
.overview-con-global .section07 .section07_text2 img {
  margin-left: 1.171875rem;
}
.overview-con-global .section07 .section07_text2 .f26 {
  margin-top: 2.617188rem;
  text-align: left;
  width: 1.598438rem;
}
.overview-con-global .section08 {
  color: #000;
  height: 5.164063rem;
}
.overview-con-global .section08 .section08_text {
  margin-left: 5.648438rem;
  margin-top: 2.128906rem;
  width: 3.007813rem;
}
.overview-con-global .section08 .overview_29 {
  line-height: 0.203125rem;
  margin-bottom: 0.101563rem;
  margin-top: 0.148438rem;
}
.overview-con-global .section09 {
  color: #fff;
  height: 4.914063rem;
}
.overview-con-global .section09 .section09_text {
  margin-left: 1.976563rem;
  margin-top: 2.128906rem;
  width: 2.905469rem;
}
.overview-con-global .section09 .overview_32 {
  line-height: 0.203125rem;
  margin-bottom: 0.117188rem;
  margin-top: 0.105469rem;
}
.overview-con-global .section10 {
  color: #000;
  height: 4.355469rem;
}
.overview-con-global .section10 .section10_text {
  margin-left: 6.132813rem;
  margin-top: 2.128906rem;
  width: 2.805469rem;
}
.overview-con-global .section10 .overview_35 {
  margin-top: 0.109375rem;
}
.overview-con-global .section11 {
  align-items: center;
  background-size: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 4.570313rem;
}
.overview-con-global .section11 .section11_text {
  margin-top: 0.6875rem;
  text-align: center;
  width: 7rem;
}
.overview-con-global .section11 .overview_37 {
  margin-top: 0.085938rem;
}
.overview-con-global .section12 {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 5.453125rem;
}
.overview-con-global .section12 .overview_38 {
  margin-bottom: 0.078125rem;
}
.overview-con-global .section12 .section12_text {
  margin-bottom: 0.605469rem;
  margin-top: 0.664063rem;
  text-align: center;
  width: 5.429688rem;
}
.overview-con-global .section12 .section12_content {
  display: flex;
}
.overview-con-global .section12 .section12_content > div {
  display: flex;
  flex-direction: column;
  margin-right: 0.3125rem;
}
.overview-con-global .section12 .section12_content > div:last-child {
  margin-right: 0;
}
.overview-con-global .section12 .section12_content > div .f26 {
  margin-top: 0.046875rem;
}
.overview-con-global .section14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.640625rem;
  padding-top: 0.597656rem;
}
.overview-con-global .section14 .overview_52 {
  margin-bottom: 0.429688rem;
}
.overview-con-global .section14 .section14_icons {
  display: flex;
  text-align: center;
}
.overview-con-global .section14 .section14_icons > div {
  margin-right: 0.523438rem;
  width: 0.976563rem;
}
.overview-con-global .section14 .section14_icons > div:last-child {
  margin-right: 0;
}
.overview-con-global .section14 .icon_wrap {
  height: 0.320313rem;
  margin-bottom: 0.234375rem;
}
.overview-con-global .section14 .icon1 {
  height: 0.316406rem;
  width: 0.332031rem;
}
.overview-con-global .section14 .icon2 {
  height: 0.257813rem;
  width: 0.332031rem;
}
.overview-con-global .section14 .icon3 {
  height: 0.316406rem;
  width: 0.300781rem;
}
.overview-con-global .section14 .icon4 {
  height: 0.308594rem;
  width: 0.335938rem;
}
.overview-con-global .section13 {
  position: relative;
}
.overview-con-global .section13 .overview_48 {
  color: #fff;
  font-size: 0.28125rem !important;
  left: 5.917969rem;
  letter-spacing: -0.007813rem;
  line-height: 0.3125rem;
  position: absolute;
  top: 1.183594rem;
  width: 2.140625rem;
  z-index: 1;
}
.overview-con-global .section13 .slider-box {
  height: 4.097656rem;
  position: relative;
  width: 10rem;
}
.overview-con-global .section13 .words {
  align-items: center;
  bottom: 0.824219rem;
  color: #fff;
  display: flex;
  left: 5.96875rem;
  position: absolute;
  z-index: 1;
}
.overview-con-global .section13 .black {
  color: #000;
}
.overview-con-global .section13 .white {
  color: #fff;
}
.overview-con-global .section13 .text02,
.overview-con-global .section13 .words .text01 {
  color: #000;
}
.overview-con-global .section13 .item {
  align-items: center;
  display: flex;
}
.overview-con-global .section13 .icon01 {
  height: 0.117188rem;
  margin: 0 0.039063rem;
  width: 0.117188rem;
}
.overview-con-global .section13 .item .text {
  display: none;
  margin: 0 0.078125rem;
  width: 0.78125rem;
}
.overview-con-global .section13 .item.active .text {
  display: block;
}
.overview-con-global .section13 .xm-text {
  font-size: 0.125rem;
  line-height: 1;
}
.overview-con-global .section13 .xm-scroll .slick-slider .slick-dots {
  bottom: -0.234375rem;
  left: 3.945313rem;
}
.overview-con-global .section13 .slick-slider .slick-dots {
  bottom: 0.820313rem !important;
  left: 6.25rem !important;
  z-index: 10;
}
.overview-con-global .section13 .slick-dots li {
  background: #0000;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 0.117188rem;
  margin: 0 0.035156rem;
  opacity: 0;
  width: 0.117188rem;
}
.hairlines .overview-con-global .section13 .slick-dots li {
  border: 0.5px solid #fff;
}
.overview-con-global .section13 .slick-dots li.slick-active {
  background: #fff;
}
.overview-con-global .section13 .slick-prev {
  visibility: hidden;
}
.overview-con-global .section13 .xm-scroll .slick-slider .slick-next {
  background: #0000;
  height: 3.007813rem;
  margin-top: 0;
  outline: none;
  top: 0.839844rem;
  width: 1.484375rem;
}
.overview-con-global .section15 {
  color: #fff;
  height: 2.101563rem;
  padding-left: 1.953125rem;
  padding-top: 0.898438rem;
}
.overview-con-global .section16 {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.390625rem 0;
}
.overview-con-global .section16 span {
  color: #666;
  width: 6.15625rem;
}

.text_container--title {
  color: #424242;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 20px 0 12px;
}
.text_container--font {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.text_container--pos {
  display: flex;
  justify-content: space-between;
}
.text_container .img-label {
  background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
  background-position: -76px 0;
  display: inline-block;
  height: 22px;
  margin-right: 20px;
  vertical-align: middle;
  width: 26px;
}
.text_container .text-label {
  color: #999;
  font-size: 14px;
  line-height: 20px;
  margin-right: 20px;
}
.text_container .btn-container {
  margin-top: 20px;
  text-align: right;
}
.text_container .eye {
  background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
  background-position: -74px -22px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin-left: 160px;
  width: 24px;
}
.text_container .eye.open {
  background-position: -75px -47px;
}
.text_container .tips {
  color: #c9c9c9;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0 45px;
}
.text_container .pos-item {
  font-size: 14px;
}
.edit-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 40px;
  text-align: center;
  width: 110px;
}

.global_specs {
  background: #fff;
  width: 100%;
}
.global_specs .section .text_containter {
  border-bottom: 1px solid #00000029;
  display: flex;
  margin: 0 auto;
  padding-bottom: 77px;
  padding-top: 82px;
  width: 1260px;
}
.global_specs .section .text_containter .title {
  color: #323232;
  font-size: 35px;
  line-height: 43px;
  width: 300px;
}
.global_specs .section .text_containter .sub_title {
  margin-bottom: 30px;
  width: 820px;
}
.global_specs .section .text_containter .left {
  margin-left: 58px;
  width: 820px;
}
.global_specs .section .text_containter .desc,
.global_specs .section .text_containter .tips {
  line-height: 36px;
  width: 820px;
}
.global_specs .section .text_containter .tips {
  line-height: 20px;
  margin-top: 37px;
}
.global_specs .section .text_containter .mt40 {
  margin-top: 40px;
}
.global_specs .last_content {
  border-bottom: 0 !important;
}
.global_specs .section_01 {
  background-color: #f8f8f8;
  box-sizing: border-box;
  height: 991px;
  padding-bottom: 75px;
  padding-top: 116px;
}
.global_specs .section_01 .text_containter {
  margin: 0 auto;
  width: 850px;
}
.global_specs .section_01 .img_big {
  height: 663px;
  width: 815px;
}
.global_specs .section_01 .text_flex {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  text-align: center;
}
.global_specs .section_01 .text_flex > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 132px;
}
.global_specs .section_01 .text_flex > div:last-child {
  margin-right: 0;
}
.global_specs .section_01 .img1,
.global_specs .section_01 .img2,
.global_specs .section_01 .img3 {
  height: 23px;
  width: 23px;
}
.global_specs .section_01 .title {
  padding-top: 7px;
  width: 105px;
}
.global_specs .section_07 .sub_title {
  margin-top: 57px;
}
.global_specs .section_10 .sub_title {
  margin-top: 20px;
}
.global_specs .section_16 .text_containter {
  border-bottom: 1px #000;
}


/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
.xm-text {
  display: inline-block;
  white-space: break-spaces;
}

body {
  font-size: 14px;
}

a {
  color: #ffffff;
  text-decoration: none;
}